In [23]:
#really great library for experimental design in python
from doepy import build
import pandas as pd
import researchpy as rp
import statsmodels.api as sm

In [24]:
build.full_fact(
{'Pressure':[40,55,70],
'Temperature':[290, 320, 350],
'Flow rate':[0.2,0.4],
'Time':[5,8]}
)

    Pressure  Temperature  Flow rate  Time
0       40.0        290.0        0.2   5.0
1       55.0        290.0        0.2   5.0
2       70.0        290.0        0.2   5.0
3       40.0        320.0        0.2   5.0
4       55.0        320.0        0.2   5.0
5       70.0        320.0        0.2   5.0
6       40.0        350.0        0.2   5.0
7       55.0        350.0        0.2   5.0
8       70.0        350.0        0.2   5.0
9       40.0        290.0        0.4   5.0
10      55.0        290.0        0.4   5.0
11      70.0        290.0        0.4   5.0
12      40.0        320.0        0.4   5.0
13      55.0        320.0        0.4   5.0
14      70.0        320.0        0.4   5.0
15      40.0        350.0        0.4   5.0
16      55.0        350.0        0.4   5.0
17      70.0        350.0        0.4   5.0
18      40.0        290.0        0.2   8.0
19      55.0        290.0        0.2   8.0
20      70.0        290.0        0.2   8.0
21      40.0        320.0        0.2   8.0
22      55.0        320.0        0.2   8.0
23      70.0        320.0        0.2   8.0
24      40.0        350.0        0.2   8.0
25      55.0        350.0        0.2   8.0
26      70.0        350.0        0.2   8.0
27      40.0        290.0        0.4   8.0
28      55.0        290.0        0.4   8.0
29      70.0        290.0        0.4   8.0
30      40.0        320.0        0.4   8.0
31      55.0        320.0        0.4   8.0
32      70.0        320.0        0.4   8.0
33      40.0        350.0        0.4   8.0
34      55.0        350.0        0.4   8.0
35      70.0        350.0        0.4   8.0

In [25]:
manufac = sm.datasets.webuse('manuf')

manufac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   temperature  36 non-null     category
 1   chemical     36 non-null     category
 2   method       36 non-null     category
 3   yield        36 non-null     int8
dtypes: category(3), int8(1)
memory usage: 728.0 bytes

In [26]:
rp.summary_cat(manufac[["temperature", "chemical", "method"]])

      Variable Outcome  Count  Percent
0  temperature    high     12    33.33
1               medium     12    33.33
2                  low     12    33.33
3     chemical       B     18    50.00
4                    A     18    50.00
5       method    fold     18    50.00
6                 stir     18    50.00

In [27]:
from statsmodels.formula.api import ols

manufac["Yield"] = manufac["yield"]

model = ols("Yield ~ C(temperature, Sum) + C(chemical, Sum) + C(method, Sum) + C(temperature, Sum)*C(chemical, Sum)*C(method, Sum)", data=manufac).fit()

aov_table = sm.stats.anova_lm(model, typ=3)
aov_table

,sum_sq,df,F,PR(>F)
Intercept,2070.25,1.0,299.313253,4.675019e-15
"C(temperature, Sum)",30.50,2.0,2.204819,1.321133e-01
"C(chemical, Sum)",12.25,1.0,1.771084,1.957540e-01
"C(method, Sum)",42.25,1.0,6.108434,2.093730e-02
"C(temperature, Sum):C(chemical, Sum)",24.50,2.0,1.771084,1.916714e-01
"C(temperature, Sum):C(method, Sum)",87.50,2.0,6.325301,6.216723e-03
"C(chemical, Sum):C(method, Sum)",0.25,1.0,0.036145,8.508161e-01
"C(temperature, Sum):C(chemical, Sum):C(method, Sum)",3.50,2.0,0.253012,7.785036e-01
Residual,166.00,24.0,NaN,NaN

In [28]:
model = ols("Yield ~ C(temperature, Sum) + C(chemical, Sum) + C(method, Sum) + C(temperature, Sum):C(chemical, Sum) + C(temperature, Sum):C(method, Sum) + C(chemical, Sum):C(method, Sum)", data=manufac).fit()

aov_table = sm.stats.anova_lm(model, typ=3)
aov_table

                                       sum_sq    df           F        PR(>F)
Intercept                             2070.25   1.0  317.560472  4.292571e-16
C(temperature, Sum)                     30.50   2.0    2.339233  1.163633e-01
C(chemical, Sum)                        12.25   1.0    1.879056  1.821599e-01
C(method, Sum)                          42.25   1.0    6.480826  1.717637e-02
C(temperature, Sum):C(chemical, Sum)    24.50   2.0    1.879056  1.728955e-01
C(temperature, Sum):C(method, Sum)      87.50   2.0    6.710914  4.467613e-03
C(chemical, Sum):C(method, Sum)          0.25   1.0    0.038348  8.462683e-01
Residual                               169.50  26.0         NaN           NaN

In [29]:
model = ols("Yield ~ C(temperature, Sum) + C(chemical, Sum) + C(method, Sum) + C(temperature, Sum):C(method, Sum)", data=manufac).fit()

aov_table = sm.stats.anova_lm(model, typ=3)
aov_table

                                     sum_sq    df           F        PR(>F)
Intercept                           2070.25   1.0  309.072072  5.239664e-17
C(temperature, Sum)                   30.50   2.0    2.276705  1.206672e-01
C(chemical, Sum)                      12.25   1.0    1.828829  1.867181e-01
C(method, Sum)                        42.25   1.0    6.307593  1.784464e-02
C(temperature, Sum):C(method, Sum)    87.50   2.0    6.531532  4.552060e-03
Residual                             194.25  29.0         NaN           NaN

In [30]:
import statsmodels.stats.multicomp as mc

interaction_groups = "Temp_" + manufac.temperature.astype(str) + " & " + "Method_" + manufac.method.astype(str)

comp = mc.MultiComparison(manufac["Yield"], interaction_groups)
post_hoc_res = comp.tukeyhsd()
post_hoc_res.summary()