In [15]:
#pip install bioinfokit first
from bioinfokit.analys import get_data, stat
from scipy import stats
import numpy as np

In [3]:
#loading data
df = get_data('t_one_samp').data

In [4]:
df.head()

       size
0  5.739987
1  5.254042
2  5.152388
3  4.870819
4  3.536251

In [8]:
#1-sample test
res = stat()
res.ttest(df=df, test_type=1, res='size', mu=5)
print(res.summary)

One Sample t-test

------------------  --------
Sample size         50
Mean                 5.05128
t                    0.36789
Df                  49
P-value (one-tail)   0.35727
P-value (two-tail)   0.71454
Lower 95.0%          4.77116
Upper 95.0%          5.3314
------------------  --------

In [9]:
#2 sample t-test
df = get_data('t_ind_samp').data
df.head()

  Genotype  yield
0        A   78.0
1        A   84.3
2        A   81.0
3        B   88.0
4        B   92.0

In [11]:
#equal variance test 
res = stat()
res.ttest(df=df, xfac="Genotype", res="yield", test_type=2)
print(res.summary)

Two sample t-test with equal variance

------------------  -------------
Mean diff           -10.3
t                    -5.40709
Std Error             1.90491
df                   10
P-value (one-tail)    0.000149204
P-value (two-tail)    0.000298408
Lower 95.0%         -14.5444
Upper 95.0%          -6.05561
------------------  -------------

Parameter estimates

Level      Number    Mean    Std Dev    Std Error    Lower 95.0%    Upper 95.0%
-------  --------  ------  ---------  -----------  -------------  -------------
A               6    79.1    3.30817      1.35056        75.6283        82.5717
B               6    89.4    3.29059      1.34338        85.9467        92.8533

In [12]:
#paired sample t-test
df = get_data('t_pair').data
df.head()

      BF     AF
0  44.41  47.99
1  46.29  56.64
2  45.98  48.90
3  43.35  49.01
4  45.75  48.41

In [13]:
res = stat()
res.ttest(df=df, res=['AF', 'BF'], test_type=3)
print(res.summary)

Paired t-test

------------------  ------------
Sample size         65
Difference Mean      5.55262
t                   14.2173
Df                  64
P-value (one-tail)   8.87966e-22
P-value (two-tail)   1.77593e-21
Lower 95.0%          4.7724
Upper 95.0%          6.33283
------------------  ------------

In [16]:
#welch's t-test for unequal variances - a different example
t_score = stats.ttest_ind_from_stats(mean1=12000, std1=np.sqrt(10000000), nobs1=31, \
                               mean2=10000, std2=np.sqrt(20000000), nobs2=28, \
                               equal_var=False)
t_score

Ttest_indResult(statistic=1.9641226483541647, pvalue=0.05531232625026703)

In [17]:
#2 sample t-test for equal variances - a dif
t_score = stats.ttest_ind_from_stats(mean1=12000, std1=np.sqrt(10000000), nobs1=31, \
                               mean2=10000, std2=np.sqrt(20000000), nobs2=28, \
                               equal_var=True)
t_score

Ttest_indResult(statistic=1.9983043659520565, pvalue=0.05046209511280341)